<div class="row">
	
	<div class="small-12 column">
					<%= form_for @user do |f| %>

						<%= f.text_field :username %>
						<%= f.email_field :email, autofocus: true %>

					    <%= f.fields_for :profile do |ff| %>
						<%= ff.file_field :avatar %>
						<% end %>
						<%= f.submit "Update Profile"%>
					<% end %>
						
					
	</div>
	

</div>