<div class="row">
	<div class="column small-12">
		<h1><%=@itenary.title%></h1>
	</div>
	

	<div class="small-12 column">

		<%if @itenary.user.id == current_user.id%>
		<p><%=link_to('New Item', 'javascript:void(0)', id: "new-item")%></p>
		<%end%>
		

	</div>

	
	
	
	

</div>
<div id="item" class="row">
	
		

		<%=render partial: "items/item", collection: @items%>	
</div>

<div class="row">
	<%if @itenary.user.id != current_user.id%>
	<div class="small-4 column">
		<%if @itenary.like_by? current_user %>
			<p><%= link_to 'UNLIKE', unlike_itenary_path, method: :post %></p>
		<%else%>
			<p><%= link_to 'LIKE', like_itenary_path, method: :post %></p>
		<%end%>
	</div>
	<div class="small-4 column">
		<%if @itenary.bookmarked_by? current_user %>
			<p><%= link_to 'UNBOOKMARK', unbookmark_itenary_path, method: :post %></p>
		<%else%>
			<p><%= link_to 'BOOKMARK', bookmark_itenary_path, method: :post %></p>
		<%end%>
		
	</div>
		
	<%end%>
	<div class="small-4 column">
		<%= social_share_button_tag(@itenary.title) %>
		<%= link_to 'Create PDF document', itenary_path(@itenary, :format => :pdf) %>
	</div>
		
</div>


<div class="row" id="item-form">
	<%=render "shared/item_form"%>
	<button class="close-button" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>





