<%= form_for @item do |f| %>
  <div class="row">
    <div class="medium-12 columns">
      <label id="day-label">Day <%= @item.day %>
       
        
      </label>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <label>Location
        <%= f.text_field :location %>
        
      </label>
    </div>
  </div>
  
  <%= f.fields_for :sub_items do |ff| %>
  
    <%= render "itenaries/sub_item_fields", f: ff%>
  <% end %>

  <div class="row">
    <div class="medium-12 columns">

     <%=f.hidden_field :itenary_id, :value => @itenary.id%>
    </div>
  </div>

 

  <div class="row">
    <div class="medium-12 columns">
      <div class="button-group add-sub-item">
        <%= link_to_add_association "Add a place", f, :sub_items, 'data-association-insertion-traversal' => 'closest',class: "button" %>
        <%= f.submit "Create", class: "button button-default", id: "submit-item"  %>
        
      </div>
      
    </div>
  </div>
  
<% end -%>