
<li id="list-item-<%=item.day%>" >
	<div id="item-<%=item.id%>" class="small-12 column">
	
		
		
			<div class="row">
				<div class="small-2 column">
					<h2 id="day-<%=item.day%>">Day <%=item.day%></h2>
				</div>
				<div class="small-8 column">
					<p id="desc-<%=item.id%>"><%=item.desc%></p>
				</div>
				<div class="small-2 column">
					<%if item.itenary.user_id == current_user.id%>
					<p><%=link_to('Edit Item', 'javascript:void(0)', id: "button-#{item.id}", class: "edit-button button button-default", onclick: "openEdit(this.id); return false;")%></p>
					<%end%>
				</div>
			</div>
			
		

	
		
		
	</div> 


	<div class="small-12 column edit-item-form" id="edit-item-form-<%=item.id%>" style="display: none">
		<%=render "shared/edit_form", :item => item%>
		<button class="close-button" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
</li>