
<li id="list-item-<%=item.day%>" class="list-item" >
	<div id="item-<%=item.id%>" class="small-12 column">


			<div class="row item-header-no-image">

				
			</div>
			<div class="row inner-header">
				<div class="medium-4 column">
					<div class="row">
						<div class="item-calendar">
							<i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
						</div>
						<div id="day-<%=item.day%>" class="item-day">
							<h2 >Day <%=item.day%></h2>
						</div>
						<div id="location-<%=item.location %>" class="item-location">
							<h3><%=item.location%></h3>
						</div>	

					</div>

					

				</div>
				<div class="medium-4 column"></div>
				<div class="medium-4 column"></div>
			</div>

			<% item.sub_items.each do |sub_item| %>
			<div class="row item-detail">
				<div class="small-4 column item-time">
					<h4 class="item-attract"><%=sub_item.attraction %></h4>
						<h4 class="item-duration">From: <%=sub_item.start_time %> To: <%=sub_item.end_time %></h4>
					
				</div>
				<div class="small-8 column item-story">
					
						<p><%= sub_item.story.html_safe %></p>
					
				</div>
			</div>
	
			<% end %>
		
			<div class="row item-buttons">


				<% if user_signed_in? %>
				
				<%if item.itenary.user_id == current_user.id%>
				<div class="small-1 column">
					
					<p><%=link_to 'Edit Item', 'javascript:void(0)', id: "edit-button-#{item.id}", class: "edit-button button button-default", :onclick => "openEdit(#{item.id})" %></p>
					
				</div>
				<div class="small-1 column delete-button-wrap">
					
						
						<p><%=link_to 'Delete Item', 'javascript:void(0)', id: "delete-button-#{item.id}", class: "delete-button button button-default", :onclick => "openDel(#{item.id})"%></p>
						
					
				</div>
				<%end%>
				<% end %>
					
			</div>

			<div class="small-12 column edit-item-form" id="edit-item-form-<%=item.id%>">
					<%=render "shared/edit_form", :item => item%>
					<button id="edit-close-button-<%= item.id %>" class="close-button" type="button" onclick="closeEdit(<%= item.id %>)">
				    <span aria-hidden="true">&times;</span>
				  </button>
			</div>

			<div class="small-12 column delete-item-form" id="delete-item-form-<%=item.id%>">
					<%=render "shared/delete_form", :item => item%>
					<button id="delete-close-button-<%= item.id %> " class="close-button" type="button" onclick="closeDel(<%= item.id %> )">
				    <span aria-hidden="true">&times;</span>
			</div>
			
		

	
		
		
	</div> 
	

	
</li>
