<!DOCTYPE html>
<html lang="en">
  <head>
    <% if content_for?(:head) %>
     <%= yield(:head) %>
     <% end %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if @itenary %>
    <meta property=“fb:app_id” content=“241409313026138” />
    <meta property=“og:type” content=“website” />
    <meta property=“og:title” content="<%= @itenary.title %>"/>
    <meta property=“og:url” content=“<%= request.original_url %>" /> 
    <% end %>

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= include_gon %>
    
    <%= csrf_meta_tags %>
    
    <%= javascript_include_tag Ckeditor.cdn_url  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  
<%= render "shared/navbar" %>
          

<%if flash[:notice]%>
  <%= flash[:notice] %>
<%elsif flash[:alert]%>
  <%= flash[:alert] %>
<%elsif flash[:error]%>
  <% flash[:error].each do |msg|%>
    <%= msg %>
  <% end %>
  
<% end %>


  <body>

    <%= yield %>

  </body>
</html>
